<!DOCTYPE html>
<html>
<head></head>
<body>
"I AM A CUSTOM LAYOUT"
<div id="shopify-section-header" class="shopify-section"></div>
<main role="main">
    <div id="404_template" class="custom-class" custom-attribute="hello"></div>
</main>
<script></script>
</body>
</html>